@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;600&display=swap');


*{
    box-sizing: border-box;
}

body{
    background: url(./src/countdown.jpg);
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-size: contain;

}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text{
    font-size: 4rem;
    line-height: 1;
    margin: 0 2rem;
}

.count{
    text-align: center;
}