
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@import "var";
@import "fotter";
@import "header";
@import "article";

html{
 font-size: 62,5;
}

body{
    font-family: 'Lora', serif;
    box-sizing: border-box; 
 }


a{
    text-decoration: none;
    color: $color1;
    &:hover {
        color: $color4;
    
    }
}

h1{
    color: $color1;
}

h1 {
    padding-left: 10%;
}

h2{
    color: $color1;
}


input,textarea{
    margin-bottom: 1rem;

}