$color-font: gray;
$color-bg-default: #33f;
$font-default: Arial, Helvetica, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
}

#imagens {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;
        
        img {
            height: 200px;
            width: auto;
            margin: 5px;
            object-fit: fill;
            object-position: bottom;
            border: 1px solid #333;

            &:hover {
                opacity: 75%;
                border-color: #33f;
            }
        }

    }

}
header {
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
    overflow: hidden;
    width: 100vw;
    position: relative;
    height: 50vh;
    overflow: hidden;

    h1 {
        margin-top: 4rem;
        position: relative;
        z-index: 9;
    }
}


.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* .waves {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 110%;

    .wave-01 {
        animation: wave1 3s ease-in-out infinite alternate;
        
    }

    .wave-02 {
        animation: wave2 3s ease-in-out infinite alternate;
    }

    .wave-03 {
        animation: dash1 3s cubic-bezier(0, 1.23, 1, 0.11) infinite alternate;
        stroke-dasharray: 150;
        stroke: #fff;
        stroke-width: 3px;
    }
}

@keyframes wave1 {
    from {
        transform: translateX(-50px);
    }
}

@keyframes wave2 {
    from {
        transform: translateX(-100px);
    }
}

@keyframes wave3 {
    from {
        transform: translateX(-20px);
    }
}

@keyframes dash1 {
    from {
       stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}*/

@import 'player';