#como-funciona {
    background: white;
}

.steps {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    
    

    &__item {
        margin: 1rem;
        text-align: center;
        span {
            color: $color-secondary;
        }
    }

}